node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Claude dice che i file zokrates sono enormi
PROOF_GENERATION/zokrates/*/out
PROOF_GENERATION/zokrates/*/out.r1cs
PROOF_GENERATION/zokrates/*/out.wtns
PROOF_GENERATION/zokrates/*/proving.key
PROOF_GENERATION/zokrates/*/witness
PROOF_GENERATION/zokrates/*/proof.json

# Python
PROOF_GENERATION/venv/
PROOF_GENERATION/__pycache__/